.cmp-image {}
.cmp-image__link {}
.cmp-image__image {}
.cmp-image__title {}


.cmp-image__borderStyle--solid {
  border-style: solid;
}
.cmp-image__borderColor--red {
  border-color: yellow;
}
.cmp-image__borderStyle--dashed {
  border-style: dashed;
}
.cmp-image__borderColor--blue {
  border-color: blue;
}